<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="referrer" content="always">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="author" content="bukas">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>推荐文章</h1>
    <form action="/post/" method="POST">
        <fieldset>
            <label for="url">链接</label>
            <input type="url" name="url" id="url" placeholder="文章链接">
            <label for="title">标题</label>
            <input type="text" name="title" id="title" placeholder="文章标题">
            <label for="description">描述</label>
            <textarea name="description" id="description" placeholder="文章描述"></textarea>
            <label for="thumb">图片</label>
            <input type="url" name="thumb" id="thumb" placeholder="文章链接">
            <input class="button-primary" type="submit" value="推荐">
        </fieldset>
    </form>
</body>
</html>