{% extends "layout.html" %}
{% block content %}
    <h1>添加规则</h1>
    <form action="/rule/" method="POST">
        <fieldset>
            {% import "macro/input.html" as form %}
            {{ form.holder("Host", "host", "请输入域名（不带www），如：noonme.com") }}
            {{ form.holder("Path", "path", "请输入解析匹配路径正则，如：^/post/，可为空", false) }}
            {{ form.holder("标题", "title", "请输入标题解析规则（cheerio，jquery语法），如：$('h1').text().trim()") }}
            {{ form.holder("图片", "thumb", "请输入图片解析规则，如：$('.content img').eq(0).attr('src')") }}
            {{ form.holder("内容", "html", "请输入内容解析规则，如：$('.content').html()") }}
            {{ form.holder("描述", "description", "请输入描述解析规则，为空则取文章前256个字", false) }}
            <input class="button-primary" type="submit" value="添加">
        </fieldset>
    </form>
{% endblock %}